#gameoflife {
    margin: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #ccc;
}

#gameoflife #board {
    text-align: center;
}

#gameoflife #controlpanel {
    border-top: 1px solid #aaa;
    padding: 5px;
    background-color: #e6e6e6;
}

#gameoflife #controlpanel .primary-controls,
#gameoflife #controlpanel .secondary-controls {
    display: block;
    padding-top: 5px;
}

#gameoflife #controlpanel button,
#gameoflife #controlpanel select {
    border-radius: 4px;
    border: 0px solid;
    background-color: #0077ff;
    transition: 0.3s ease background-color;
    color: white;
    padding: 5px;
    margin: 0px 3px;
    font-weight: bold;
    cursor: pointer;
}

#gameoflife #controlpanel button.editing,
#gameoflife #controlpanel button:hover,
#gameoflife #controlpanel select:hover {
    background-color: #584b8e;
    transition: 0.3s ease background-color;
}

/* Pause/Play button style rules */
#gameoflife #controlpanel button.playBtn {
    width: 28px;
    height: 28px;
    background-size: 24px 24px;
    background-position: 2px 2px;
    padding: 8px;
    vertical-align: top;
    margin-top: 1px;
}
#gameoflife #controlpanel button.playBtn.paused {
    background-image: url('../icons/play.png');
}
#gameoflife #controlpanel button.playBtn.playing {
    background-image: url('../icons/pause.png');
}

#gameoflife #controlpanel label.interval-label {
    color: #0077ff;
    font-size: 10pt;
    font-weight: bold;
    font-family: arial;
    vertical-align: top;
    line-height: 20px;
    padding-left: 5px;
}
